
  <script type="text/javascript">
    $(document).ready(function(){
      $('.ui.dropdown').dropdown();

      $('.post-content .avatar-link').popup({
        inline: true,
        position: 'bottom right',
        lastResort: 'bottom right'
      });
    })
  </script>
  </body>
</html>
